<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Cases List</title>
</head>

<body>
	<h1>All Cases</h1>
	<table border="1">
		<tr>
			<th>ID</th>
			<th>Issue</th>
			<th>Stage</th>
			<th>Customer Comment</th>
			<th>Tenant</th>
			<th>Created Date</th>
			<th>Resolution Comment</th>
			<th>Updated Date</th>
		</tr>
		<tr th:each="case : ${cases}">
			<td th:text="${case.caseId}"></td>
			<td th:text="${case.issueDescription}"></td>
			<td th:text="${case.stage}"></td>
			<td th:text="${case.customerComment}"></td>
			<td th:text="${case.tenantName}"></td>
			<td th:text="${case.dateCretaed}"></td>
			<td th:text="${case.resolutionComment}"></td>
			<td th:text="${case.dateUpdated}"></td>
		</tr>
	</table>
</body>

</html>